.App {
  text-align: center;
}


.Todoh1 {
  color: rgb(29, 107, 137);
}

.TodoWrap {
  background-color: yellowgreen;
  height: 200px;
  padding-top: 3px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(166, 100, 100);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
} 

.trash {
  margin-left: 6px;

}

.todo-btn {
  background: rgb(166, 100, 100);
  color: white;
  border-radius: 25px;
  padding: 8px;
  cursor: pointer;
}

.todo-input::placeholder {
  color: brown;
}

.TodoForm {
  /* background-color: blue; */
}


