.App {
  text-align: center;
  width: 50%;
}


.Todoh1 {
  color: rgb(29, 107, 137);
}

.TodoWrap {
  background-color: yellowgreen;
  height: 100%;
  padding: 10px 3px;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(166, 100, 100);
  color: white;
  /* padding: 0.75rem 1rem; */
  border-radius: 5px;
  margin: 5px;
  width: 400px;
  padding-left: 5px;
} 

.todo-btn {
  background: rgb(166, 100, 100);
  color: white;
  /* border-radius: 5px; */
  padding: 8px;
  cursor: pointer;
}

.todo-input::placeholder {
  color: brown;
}

.todo-input {
  height: 30px;
  width:50%;
}

.todo-icon{
  margin: 10px;
}

.trash-icon {
  margin-right: 10px;
}
